* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 80px;
    --footer-height: 50px;
}

html, body {
    height: 100%;
}

header {
    height: var(--header-height);
    /* background-color: rebeccapurple; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav span {
    font-size: 26px;
    cursor: pointer;
}

nav span:hover {
    text-decoration: underline;
}

main {
    min-height: calc( 100% - (var(--header-height) + var(--footer-height)) );
    display: flex;
    justify-content: center;
}

footer {
    height: var(--footer-height);
    /* background-color: cadetblue; */
}

.hide {
    display: none;
}

.home {
    /* background-color: red; */
    flex: 1;
}

.header-sidebar {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 14px;
}

.categories-list {
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
}

.products {
    /* background-color: blue; */
    width: 80%;
    display: flex;
}

.sidebar-filters {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    /* background-color: chartreuse; */
}

.sidebar-filters li {
    padding: 10px;
}

.products-view {
    flex: 5;
    /* background-color: darkgreen; */
}

.search {
    margin: 30px 0;
}

.products-container {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.product-detail {
    width: 75%;
    padding-top: 10px;
    /* background-color: red; */
}

.card {
    width: 24%;
    margin: 0.5%;
    padding: 0 10px;
    padding-bottom: 20px;
    cursor: pointer;
}

.product-name {
    font-weight: 400;
}

.product-price {
    font-size: 26px;
    font-weight: 400;
    color: #0f1111;
}

.product-img {
    display: flex;
    justify-content: center;
}

.card-img {
    width: 75%;
    margin: 30px 0;
}

.product-info {
    margin-top: 50px;
    display: flex;
    /* background-color: #ff6000; */
}

.product-info-img {
    flex: 1;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.product-info-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: green; */
}

.product-info-img img {
    width: 80%;
}

.detail-name {
    display: block;
    font-weight: 700;
    font-size: 19px;
}

.detail-price {
    display: block;
    font-weight: 700;
    font-size: 32px;
    color: #ff6000;
}

.detail-description {
    display: block;
}

.category-active {
    background-color: rgb(196, 183, 183);
}